.addItem {
    position: relative;
    width: 80%;
    margin: 10% 10% 0;
    padding: 3% 0 7%;
    border: 1px solid $grey;
}

.editForm {
    width: 60%;
    margin: 0 auto;
    > div {
        margin-bottom: 15px;
    }
    .item__form-submit {
        margin-top: 40px;
    }
    input[read-only] {
        color: red;
    }
}

.item {
    &__form {
        width: 85%;
        margin: 0 auto;

        .h2 {
            width: 70%; 
            margin: 0 auto;
            padding: 5% 0; 
            text-align: left;
            text-transform: uppercase;
        }
        
        > div {
            width: 70%;
            margin: 0 auto 20px;
            &:last-child {
                position: absolute;
                bottom: -3%; 
                left: 50%; 
                transform: translateX(-50%);
                background: transparent;
                display: flex; 
                justify-content: space-around;
                margin: 50px auto 0;
            }
        }

        &-label {
            width: 30%;
            display: inline-block;
            text-align: left;
            @include font (20px, $redish, 300, 1.2em);
        }

        &-input {
            display: inline-block;
            height: 30px; 
            width: 60%;
            background: transparent;
            border: none;
            border-bottom: solid 1px $grey;
            box-shadow: none;
            @include font (20px, false, 300, 1.2em);
            height: auto;
            padding: 10px 10px 10px 0;
            &:active,
            &:focus {
                outline: none;
                border-bottom: $grey solid 1px;
                box-shadow: none;
            }
            &::-webkit-input-placeholder, 
            &:-ms-input-placeholder
            &::placeholder { 
                color: green;
            }
            &[readonly]{
                color: $grey;
            }
        }

        &-submit {
            width: 15%;
            border: none;
            font-size: 24px; 
            @include font (24px, false, 300);
            cursor: pointer;

            &:hover {
                color: $redish;
            }

            &.validate {
                @include button_gradient();
                font-size: 24px;
                border: none;
            }
        }
    }
}
