.listItems {
    width: 100%; 
    margin: 0 auto;

    &__actions {
        display: flex; 
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0;
        padding: 0 15px 0 10px;

        &-addButton {
            width: 100px;
            border: none;
            outline: none;
            border-radius: 20px;
            box-shadow: 0 5px 3px rgba(black, .1);
            padding: 10px 20px;
            &:hover {
                background-color: blue;
                color: $white;
            }
        }
    }

    &__table {
        width: 100%; 
        background-color: $grey;
        color: $bluedark;

        &__head {
            text-transform: uppercase;
        }

        &__body {
            height: 40px;
            
            &:nth-child(even) {
                background: #FFF;
            }

            &-entries {
                width: calc(100%/4);
                background-color: red;
                &:first-child {
                    width: auto; 
                }
            }

            &-actions {
                width: 20%;
                ul {
                    list-style-type: none;
                    display: flex;
                    justify-content: center;
                }

                li {
                    padding: 2px 6px;
                    margin: 0 10px;
                    border: 1px solid $bluedark; 
                    border-radius: 10px;
                    cursor: pointer;

                    &:hover {
                        background-color: orange;
                        color: $white;
                    }

                    &:last-child {
                        border-color: $red; 
                        color: $red; 

                        &:hover {
                            background-color: $red; 
                            color: $white;
                        }
                    }

                    &.input-editable {
                        background-color: $green;
                        border-color: $green; 
                        color: $white;
                    }
                }

            }
        }
    }
}