.listUsers {
    width: 100%; 
    margin: 0 auto;

    &__add {
        text-align: left;
        margin-bottom: 50px; 
        background-color: #ccc;

        &__form {
            input {
                margin-right: 25px; 
                height: 30px; 
                width: 250px;
                font-size: 20px; 
                color: blue;
            }

            button {
                height: 30px; 
                width: 50px;
            }
        }
    }

    &__table {
        width: 100%; 
        background-color: $grey;
        color: $bluedark;

        &__head {
            text-transform: uppercase;
        }

        &__body {
            height: 40px;
            
            &:nth-child(even) {
                background: #FFF;
            }

            &-entries {
                input[disabled] {
                    background-color: transparent; 
                    border: none;
                    color: #000;
                }

                input {
                    text-align: center;
                    border: none;
                    border-bottom: 1px solid blue;
                    color: blue;
                    background-color: transparent;
                    cursor: text;
                }
            }

            &-actions {
                ul {
                    list-style-type: none;
                    display: flex;
                    justify-content: center;
                }

                li {
                    padding: 2px 6px;
                    margin: 0 10px;
                    border: 1px solid $bluedark; 
                    border-radius: 10px;
                    cursor: pointer;

                    &:hover {
                        background-color: $bluedark;
                        color: $white;
                    }

                    &:last-child {
                        border-color: $red; 
                        color: $red; 

                        &:hover {
                            background-color: $red; 
                            color: $white;
                        }
                    }

                    &.input-editable {
                        background-color: $green;
                        border-color: $green; 
                        color: $white;
                    }
                }

            }
        }
    }
}