
    .popin {
        position: fixed;
        width: 60%;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
        padding: 80px 40px;
        -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
        box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
        font-size: 24px;
        text-align: center;
        background: $white;
        z-index: 5; 

        // &.addItem {
        //     background: yellow;
        //     width: 10%;
        //     left: 5%;
        //     height: 90%;
        //     top:0; 
        //     transform: translateY(-5%);
        // }
        .h2 {
            margin: 0 auto;
            padding-bottom: 7%; 
            text-align: left;
            text-transform: uppercase;
        }
        &__editable {
            margin: 50px;
            .h2 {
                width: 70%; 
            }
            &-close {
                width: 50px; 
                position: absolute;
                top: 20px; 
                right: 20px; 
                cursor: pointer;
            }
        }
        &__removable {
            @include font (24px, $greyInk, 300);
            padding: 0 5%;
            .h2 {
                width: 100%;
            }
            &__step1 {
                display: flex; 
                flex-wrap: wrap;
                justify-content: center;
                &-question {
                    width: 90%;
                    margin: 0 5%;
                    flex: 0 0 1; 
                    padding-bottom: 40px;
                    line-height: 40px;
                }
                &-answer {
                    width: 10%;
                    margin: 5%;
                    @include button_gradient();
                }
            }
            &__step2 {
                &-validation {
                    padding: 10px 0 50px;
                    p {
                        margin-bottom: 30px;
                    }
                }
                a {
                    cursor:pointer;
                    @include button_gradient();
                }
            }
        }
    }
  